@font-face {
    font-family: norse-bold;
    src: url(./assets/Norse-Bold.otf);
}

:root{
    --box-padding: 2rem;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
}

.imageContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    background-image: url(./assets/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    min-height: 100vh;
    gap: 50vh;
}

.textWrapper{
    color: white;
    text-align: center;
    font-size: 0.8rem;
}

.textWrapper a{
    color: white;
}

.titleWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.466);
    padding: 1rem;
    height: 15vh;
}

.titleWrapper img{
    height: 100%;
}

.titleWrapper h1{
    color: white;
    font-family: norse-bold;
    font-size: 6rem;
}

.formContainer{
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: #FAF9F6;
    justify-content: center;
    padding: 0;
}

.text-container{
    padding: var(--box-padding);
}

.text-container h2:first-of-type{
    margin-bottom: 2rem;
}

.formWrapper{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: var(--box-padding);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.cell{
    display: flex;
    flex-direction: column;
    flex: 1;
}

form label{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75rem;
    letter-spacing: 0.10rem;
    color: rgb(63, 63, 63);
}

input{
    border: 0.5px solid #E5E7EB;
    border-radius: 4px;
    margin-top: 0.25rem;
    height: 1.75rem;
    padding-left: 0.5rem;
    font-size: 1rem;
    outline: none;
}

input::placeholder{
    font-size: 1rem;
}

.buttonWrapper{
    padding: var(--box-padding);
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

button{
    width: 20vw;
    height: 5vh;
    background-color: #596D48;
    border: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.322) ;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;

    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover{
    background-color: #61754d;
}

.buttonWrapper a{
    color: #596D48;
    text-decoration: none;
    font-weight: 700;
}

.password:invalid:not(:focus):not(:placeholder-shown){
    border: 1px solid red;
}

input:focus{
    border: 2px solid rgba(0, 0, 255, 0.5);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.322) ;
}